@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.container1 {
  height: auto;
  max-width: 100vw;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-1 {
    position: relative;
    right: 10vw;
    z-index: auto;
    width: 25vw;
    float: left;
    clear: none;
    -o-object-fit: fill;
    object-fit: fill;
}

.div-block1 {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: 100vw;
    height: 30vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}
.div-blockimg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.image-2 {
    overflow: visible;
    width: 10vw;
    max-width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

.image-3 {
    width: 10vw;
    max-width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.image-4 {
    width: 10vw;
    max-width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

.image-5 {
    position: static;
    width: 10vw;
    max-width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

.image-6 {
    overflow: visible;
    width: 10vw;
    max-width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}
.text-block {
    width: auto;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}
.heading {
    position: relative;
    top: 10vh;
}
.text-blocktop {
    position: relative;
    top: 10vh;
}
.containerdata {
    margin-top: 20vh;
    margin-left: 10vw;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -o-object-fit: fill;
    object-fit: fill;
}


@media screen and (max-width: 991px) {
    .body {
        height: auto;
        background-color: #fff;
        background-image: radial-gradient(circle farthest-side at 0% 0%, #e4830d 34%, #fff);
    }

    .container1 {
        position: static;
        height: auto;
        padding-right: 0px;
        padding-bottom: 0px;
        background-color: transparent;
    }

    .image-1 {
        width: 30vw;
    }
}

@media screen and (max-width: 767px) {
    .body {
        height: auto;
        -o-object-fit: fill;
        object-fit: fill;
    }

    .container1 {
        height: auto;
    }

    .image-1 {
        width: 50vw;
    }
    .navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .body {
        height: auto;
    }

    .navbar-toggler {
        display: none;
    }

    .container1 {
        height: auto;
    }

    .image-1 {
        width: 50vw;
    }

    .div-block1 {
        position: absolute;
        left: 0%;
        top: auto;
        right: 0%;
        bottom: 10%;
        height: 30vh;
    }

    .image-2 {
        overflow: visible;
    }
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.body {
    overflow: visible;
    height: 100vh;
    margin-top: auto;
    margin-bottom: 0px;
    background-image: radial-gradient(circle farthest-side at 0% 0%, #e4830d 34%, #fff);
    -o-object-fit: fill;
    object-fit: fill;
}

.tablebuildings {
    border-spacing: 5px; /* need some space ?*/
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .tablebuildings div {
        display: table-cell;
    }

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
